#cq-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.cq-label-contact-title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 60px);
    height: 30px;
    padding-top: 5px;
    font-size: 15px;
    text-align: center;
    color: rgb(130, 160, 191);
    background: RGB(245, 245, 245);
}

.cq-label-doc {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    padding-right: 15px;
    height: 30px;
    padding-top: 5px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: RGB(178, 178, 178);
    background: RGB(245, 245, 245);
}

.cq-label-doc:hover {
    color: rgb(130, 160, 191);
    text-decoration: underline;
}

.cq-label-playmode {
    position: absolute;
    bottom: 235px;
    left: 0px;
    padding-left: 10px;
    width: 590px;
    padding-top: 5px;
    height: 20px;
    padding-bottom: 5px;
    font-size: 13px;
    text-align: left;
    color: RGB(178, 178, 178);
    background: RGB(245, 245, 245);
}

.cq-label-playmode[name^="注意"] {
    color: rgb(130, 160, 191);    
}

.cq-label-sendername {
    position: absolute;
    bottom: 235px;
    right: 15px;
    width: calc(100% - 615px);
    padding-right: 15px;
    padding-top: 5px;
    height: 20px;
    padding-bottom: 5px;
    font-size: 13px;
    text-align: right;
    text-decoration: none;
    color: RGB(178, 178, 178);
    background: RGB(245, 245, 245);
}

.cq-logging-list {
    margin-left: 0px;
    padding-left: 10px;
    width: calc(100% - 10px);
    height: calc(100% - 235px);
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(130, 160, 191);
    background: RGB(245, 245, 245);
}

.cq-mlist-first {
    width: 200px;
    height: 35px;
}

.cq-mlist-last {
    width: 200px;
    height: 30px;
}

.cq-message-input {
    margin-left: 0px;
    width: calc(100% - 20px);
    height: 215px;
    padding: 10px;
    background: white;
}

.cq-message-input textarea {
    width: calc(100% - 5px);
    height: 210px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    border-color: white;
    outline-color: white;
    border: white;
}

.cq-message-input .pd-button {
    position: absolute;
    display: block;
    width: 70px;
    height: 25px;
    color: black;
    background: RGB(235, 235, 235);
    font-size: 14px;
    text-align: center;
    bottom: 10px;
    right: 10px;
    border-radius: 4px;
}

.cq-message-input .pd-button:hover {
    color: white;
    background: RGB(18, 150, 17);
}

.cq-message-input .pd-button-disabled, .cq-message-input .pd-button-disabled:hover {
    color: RGB(65, 65, 65);
    background: RGB(225, 225, 225);
    cursor: not-allowed;
}