.pd-button {
    display: inline-block;
    width: 100px;
    height: 30px;
    padding-top: 5px;
    font-size: 16px;
    text-align: center;
    color: rgb(130, 160, 191);
    cursor: pointer;
    background: RGB(232, 236, 239);
}

.pd-button-active {
    background: white;
    background: RGB(217, 228, 235);
}

.pd-button:hover {
    color: #2e506b;
    background: RGB(195, 205, 212);
}

.pd-button-disabled, .pd-button-disabled:hover {
    color: RGB(65, 65, 65);
    background: RGB(225, 225, 225);
    cursor: not-allowed;
}